/*黄色背景部分*/
.content1_login,.content1_register{
	position: absolute;
	top: 2%;
	left: 4.5%;
	width: 91%;
	height: 50%;
	/*background: #F2EA2F;*/
	border-radius: 5px;
	box-shadow: 0px 4px 5px #444;
	/*background: linear-gradient(#F2EA2F,#FBF8BA);*/
	background: linear-gradient(pink 0%,skyblue 50%,pink 100%);
}

@media (max-width: 415px) {
	.content1_login,.content1_register{
		top: 6px;
		left: 0;
		width: 100%;
		height: 48%;
	}
}

.content1_login_form,.content1_register_table{
	position: relative;
	left: 35%;
	top: 5%;
	width: 30%;
	height: 90%;
	/*background: #00B7EE;*/
}
@media (max-width: 415px) {
	.content1_login_form,.content1_register_table{
		left: 10%;
		top: 10%;
		width: 80%;
		height: 80%;
	}
}


.center{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.content1_login_form p,.content1_register_table p{
	width: 100%;
	height: 15%;
	font-size: 0.06rem;
	font-size: 16px;
	/*background: #00A0E9;*/
  	margin-bottom: 2%;
}
@media (max-width: 415px) {
	.content1_login_form p,.content1_register_table p{
		font-size: 0.17rem;
	  	margin-bottom: 2%;
	}
}


.content1_login_form h1,.content1_register_table h1{
	font-size: 0.10rem;
	font-size:25px;
	margin-bottom: 2%;
}
@media (max-width: 415px) {
	.content1_login_form h1,.content1_register_table h1{
	font-size: 0.20rem;
	}
}

#label_checkbox{
	position: relative;
	/*left: 26%;*/
	margin: 0 2%;
}

#submit,#register,#reset{
	/*width: 15%;*/
	padding: 1%;
	/*height: 100%;*/
	position: relative;
	background: none;
	border: solid 1px white;
	border-radius: 2px;
	box-shadow: 0px 2px 2px #444;
	margin: 0 2%;
}
/*#submit{
	left: 34%;

}
#register{
	left: 36%;	
}*/
#submit:hover,
#register:hover,
#reset:hover{
	background: floralwhite;
}
/*#submit:active,
#register:active,
#reset:active
{
	background-color: rgba(244,236,69,1);
}*/

p a:hover{
	color: white;
}

