		*,*:before,*:after{
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		.mask,.mask-door{
			position:relative;
			width:150px;
			height:150px;
			overflow:hidden;
			margin:20px auto;
		}
		.mask:after{
			content:attr(data-title);/*获取data-title内容*/
			position:absolute;/*浮动,脱离文档流高度由内容决定*/
            width:100%;
            top:100%;
            left:0;
            padding:.7em 0;
            text-align: center;
            color:#fff;
            background:rgba(0,0,0,.5);
            -webkit-transition:all .3s ease-in-out;
            transition: all .3s ease-in-out;
            opacity:0;/*开始不显示*/
		}
		.mask:hover:after{
			opacity:1;/*hover后显示*/
			-webkit-transform:translate(0, -100%);
			transform:translate(0, -100%);
		}
		
		.mask-door:before,
		.mask-door:after{
			position:absolute;
            left:0;
            width:100%;
            opacity:0;
            color:#fff;
            height:50%;
            text-align: center;
            background:rgba(0,0,0,.5);
			 -webkit-transition:all .3s ease-in-out;
            transition: all .3s ease-in-out;
		}
		.mask-door:before {
			content:'';
            top:0;
			-webkit-transform:translate(0, -100%);
			transform:translate(0, -100%);/*反向移动自己的高度，即位于上半部分*/
		}
		.mask-door:after{
			content:attr(data-title);
            top:50%;
            padding:.7em 0;
			-webkit-transform:translate(0, 100%);
			transform:translate(0, 100%);
		}
		.mask-door:hover:before,
		.mask-door:hover:after{
			opacity:1;
			-webkit-transform:translate(0, 0);/*这个0,0是相对于mask-door:before最初的位置，而不是相对于translate之后的位置*/
			transform:translate(0, 0);
		}