body{
	color: #333;
	font: 400 16px/1.5 Microsoft YaHei, sans-serif;
	overflow: auto;
}
@media (max-width: 415px) {
	body{font-size: 0.16rem;}
}

.bgcolor{
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;/*即使内容区高度不够,footer也在底部*/
	z-index: 2;
	background: #000000;
}
/*顶部栏*/
.bbs-header{
	width: 100%;
	height: 8%;
	background-color: #CFCFCF;
	display: flex;
	align-items: center;
	box-shadow: 0px 3px 3px #C2CCD1;
}

.bbs-header .left{
	position: absolute;
	left: 0;
	padding: 0 60px;
}
@media (max-width: 415px) {
	.bbs-header .left{
		padding: 0 20px;
	}
}
.bbs-header .right{
	position: absolute;
	right: 20px;
}
.bbs-header .right a{
	padding: 0 10px;
	color: red;
}
.bbs-header .right a:active,
.bbs-header .right a:hover{
	color: white;
}
/*内容区*/
.bbs-content{
	flex:1;
	position: relative;
}


/*滚动图片*/
.bbs-content .content1{
	/*background: #0000FF;*/
	width: 100%;
	height: 42%;
}
.content1 #content{
	padding-top: 2%;
}

/*slide*/
.container3D{
	background: #eee;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0px 4px 5px #444;
}

.bbs-content .content2{
	position: relative;
	width: 100%;
	height: 42%; /*与slide设置为一样的值*/
	/*background: #FFE69F;*/
}

.content2 img{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #444;
}
/*遮罩条*/
		.mask:after{
			content:attr(data-title);
			position:absolute;
            width:100%;
            top:100%;
            left:0;
            padding:.7em 0;
            text-align: center;
            color:#fff;
            background:rgba(0,0,0,.5);
            -webkit-transition:all .3s ease-in-out;
            transition: all .3s ease-in-out;
            opacity:0;
		}
		.mask:hover:after{
			opacity:1;
			-webkit-transform:translate(0, -100%);
			transform:translate(0, -100%);
		}
.img-hover img:hover{
	-webkit-animation: imghover 1s linear;
	-moz-animation: imghover 1s linear;
	-o-animation: imghover 1s linear;
	-ms-animation: imghover 1s linear;
	animation: imghover 1s linear;
}

@-webkit-keyframes imghover {
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes imghover {
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes imghover {
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes imghover {
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@keyframes imghover {
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

.game,.highlight-box,.mask{
	position: absolute;
	top: 7%;
	left: 4.5%;
	width: 25%;
	height: 85%;
	/*background: #00A2D4;*/
	/*白光*/
	overflow: hidden;
	position: relative;
}
@media (max-width: 415px) {
	.game{
		top: 0;
		left: 0;
		width: 60%;
		height: 30%;
	}
}

.music{
	position: absolute;
	top: 7%;
	left: 30.5%;
	width: 25%;
	height: 40%;
}
@media (max-width: 415px) {
	.music{
		top: 35%;
		left: 0;
		width: 40%;
		height: 30%;
	}
}

.dictionary{
	position: absolute;
	top: 7%;
	left: 56.5%;
	width: 18%;
	height: 40%;
}
@media (max-width: 415px) {
	.dictionary{
		left: 42%;
		top: 35%;
		width: 18%;
		height: 30%;
	}
}

.todolist{
	position: absolute;
	top: 52%;
	left: 30.5%;
	width: 18%;
	height: 40%;
}
@media (max-width: 415px) {
	.todolist{
		left: 0;
		top: 69%;
		width: 18%;
		height: 30%;
	}
}

.taobao{
	position: absolute;
	top: 52%;
	left: 49.5%;
	width: 25%;
	height: 40%;	
}
@media (max-width: 415px) {
	.taobao{
		top: 69%;
		left: 20%;
		width: 40%;
		height: 30%;
	}
}

.lianjie{
	position: absolute;
	left: 75.5%;
	top: 7%;
	width: 20%;
	height: 85%;
	background: #F0F0EE;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #444;
}
@media (max-width: 415px) {
	.lianjie{
		top: 0;
		left: 63%;
		width: 37%;
		height: 99%;
	}
}
.lianjie p{
	width: 100%;
	padding: 2% 0;
	text-align: center;
	background: #31C135;
	opacity: 0.7;
	box-shadow: 0 1px 3px #444;
}
.lianjie a:hover,
.lianjie a:active{
	color: red;
}

/*底部栏*/
.bbs-footer{
	width: 100%;
	height: 8%;
	background-color: #CFCFCF;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px -3px 3px #C2CCD1;
}
@media (max-width: 415px) {
	.bbs-footer{
		font-size: 0.08rem;
	}
}





